@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #229f9f;
  padding: 9px;
  width: 100vw;
}
.transparentBorder {
  border: 2px solid transparent;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 20px;
}
.nav .element {
  border: 2px solid transparent; /* Remplacez .element par le sélecteur approprié et ajustez la largeur et le style du contour selon vos besoins */
}
.logo {
  width: 80px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.link {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
}

.link:hover {
  color: white;
}

.overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Set background image using linear gradient and meh.png */
  background-image: linear-gradient(to top, rgb(122, 116, 116), transparent), url("meh.png");
  background-size: 100% 100%;
  background-position: left 0% top 70%;
  position: relative;
  width: 100vw;
  height: 85vh;
}


.mainTitle {
  margin: 0;
  position: relative;
  margin-top: 74px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Coco', sans-serif;
}

.mainButton {
  background-color: rgb(238, 62, 62);
  border: none;
  padding: 0.5rem;
  margin-top: 24px;
  margin-left: 12px;
  color: rgb(172, 12, 12);
  font-size: 1.2rem;
  font-style: bold;
}

.mainButton:hover {
  background-color: white;
  color: rgb(238, 62, 62);
  cursor: pointer;
}

.searchBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #4d4949;
  border-radius: 8px;
  color: #ccc;
  font-family: "Ephesis", sans-serif;
  width: 60%;
  max-width: 70%;
  height: 22vh;
  margin: 12px auto;
}

.searchBlock ul {
  list-style: square inside;
  padding: 1rem;
  font-size: 1.3rem;
  margin: 8px 0;
}

.searchBlock li:hover {
  color: white;
  cursor: pointer;
}

@media (max-width: 40rem) {
  .header {
    padding: 0.4rem;
  }

  .nav ul {
    justify-content: center;
    position: relative;
    top: 5px;
  }

  .logo {
    width: 60px;
    position: relative;
    top: 5px;
  }

  .searchBlock {
    border-radius: 16px;
    width: 80%;
    height: 25vh;
    position: relative;
    padding: 0.2rem;
  }

  .searchBlock ul {
    font-size: 1rem;
  }

  .mainTitle {
    position: relative;
    left: 8px;
    margin-top: 64px;
    font-size: 1.4rem;
  }
}
